@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

* {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  margin-bottom: 0.3rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 700;
  line-height: 1.2;
}

.container {
  margin-top: 7rem;
  margin-bottom: 15rem;
}

/* nav */
.navbar {
  background-color: #e8f0fde3 !important;
  --webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
}

.navbar-nav {
  align-items: center;
}

.nav-link.active {
  font-weight: 800;
  opacity: 0.9;
  color: #3873e5 !important;
}

.nav-link {
  color: rgb(0 0 0/ 70%);
  --bs-nav-link-hover-color: rgb(0 0 0/ 90%);
}

.logo {
  width: 50px;
}

/* intro */
.intro-img {
  width: 90%;
  background: transparent;
  position: relative;
  overflow: hidden;
  background-color: #edf0f5;
  border-radius: 100%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.intro-img img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  /* height: 95%; */
}

.intro-msg-main {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
}

.intro-msg {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
}

.intro-btn {
  display: flex;
  border-top: 1px solid #e3e3e3;
  padding: 1.2rem 0;
}

.intro tbody,
.intro td,
.intro tfoot,
.intro th,
.intro thead,
.intro tr {
  padding-block: 0.25rem;
}

/* content */
.content-desc {
  width: 100%;
}

.content-desc tbody,
.content-desc td,
.content-desc tfoot,
.content-desc th,
.content-desc thead,
.content-desc tr {
  padding: 25px;
  border-bottom: solid 1px #eee;
  text-align: center;
}

.content-desc th {
  background-color: #e8f0fd70;
}

.content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.7rem;
  width: 100%;
}
.content-title h3 {
  color: #4880ee;
}

.content-bottom {
  font-size: 14px;
  display: flex;
  padding-inline: 1rem;
  align-items: center;
  justify-content: space-between;
}

.content-search {
  display: flex;
  line-height: 22px;
}

.content-search-inner {
  margin-left: 0.2rem;
}

.content-search input,
.content-search select {
  border: none;
  padding-left: 8px;
  outline: none;
}

.content-search .btn {
  font-size: 14px;
  line-height: 1;
  --bs-btn-padding-y: 0.175rem;
  border-radius: 0;
}

.pagination {
  line-height: 22px;
  --bs-pagination-padding-y: 0.195rem;
  --bs-pagination-padding-x: 0.7rem;
  --bs-pagination-border-color: none;
  --bs-pagination-color: #4880ee;
  --bs-pagination-hover-color: #3e70d4;
  --bs-pagination-active-bg: #e8f0fd;
  --bs-pagination-active-color: #4880ee;
  --bs-pagination-focus-box-shadow: none;
}

.page-link {
  font-size: 14px;
}

/* 아이콘 */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  vertical-align: middle;
  color: #3873e5e0;
  padding-left: 0.3rem;
}
.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  vertical-align: middle;
  color: #3873e5e0;
  padding-left: 0.3rem;
}

/* 버튼 */
.btn {
  border: none;
  border-radius: 5px;
}

.btn:disabled {
  border: none;
  border-radius: 5px;
  background-color: #eee;
  color: #666;
}

.maincolor {
  background-color: #4880ee;
  color: white;
}

.maincolor.tran {
  background-color: #4880eede;
  color: white;
}

.subcolor {
  background-color: #e8f0fd;
  color: #4880ee;
}

.subcolor.tran {
  background-color: #e8f0fd93;
  color: #4880ee;
}

.graycolor {
  background-color: #eee;
  color: #666;
}

.btn.subcolor:hover {
  background-color: #d5e5ff !important;
  color: #4880ee;
}

.btn.maincolor:hover {
  background-color: #3e70d4 !important;
  color: white;
}

.btn.graycolor:hover {
  background-color: #dcdcdc !important;
  color: #666;
}

.btn.full {
  --bs-btn-padding-y: 0.675rem;
  width: 100%;
  font-size: 16px;
}

.btn.small {
  width: 100%;
  font-size: 14px;
}

.btn.mdi100 {
  --bs-btn-padding-x: 1.2rem;
  width: 100%;
  font-size: 15px;
}

.btn.mdi {
  --bs-btn-padding-x: 1.2rem;
  font-size: 15px;
}

.multibtn {
  display: flex;
}
.space10 {
  width: 1rem;
  height: auto;
  display: inline-block;
}
.space3 {
  width: 0.3rem;
  height: auto;
  display: inline-block;
}

.btn.action {
  font-size: 14px;
  --bs-btn-padding-x: 0.65rem;
  --bs-btn-padding-y: 0.175rem;
}

/* 로그인, 회원가입 */
.inputtb th {
  background-color: transparent;
}

.inputtb tbody,
.inputtb td,
.inputtb tfoot,
.inputtb th,
.inputtb thead,
.inputtb tr {
  border-bottom: none;
  text-align: left;
}

input[type='text'],
[type='date'],
[type='number'],
[type='password'],
[type='email'],
textarea {
  background-color: #e8f0fd8c;
  font-size: 14px;
  border: none;
  padding-inline: 20px;
  padding-block: 12px;
  border-radius: 5px;
  width: 100%;
}

input:disabled {
  background-color: #eee;
  color: #666;
}

.inputtb.container {
  display: flex;
  justify-content: center;
  height: 75vh;
}

.inputtb.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputtb.content-title {
  border-bottom: 1px solid #eee;
}

/* 게시물 작성 */

.board-desc {
  width: 100%;
}

.board-desc tbody,
.board-desc td,
.board-desc tfoot,
.board-desc th,
.board-desc thead,
.board-desc tr {
  padding: 5px;
}

.board-desc th {
  background-color: #e8f0fd70;
}

input[type='text'].board-input,
[type='date'].board-input,
[type='number'].board-input,
[type='password'].board-input,
[type='email'].board-input,
[type='file'].board-input {
  border: 1px solid #eee;
  background-color: transparent;
  font-size: 16px;
  padding-inline: 20px;
  padding-block: 12px;
  border-radius: 5px;
  width: 100%;
}

input[type='file']::file-selector-button {
  /* width: 150px;
  height: 30px; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e8f0fd;
  color: #4880ee;
  font-size: 14px;
  padding-inline: 0.65rem;
  padding-block: 0.175rem;
}
input[type='file']::file-selector-button:hover {
  background-color: #d5e5ff !important;
  color: #4880ee;
}

input[type='file'] {
  font-size: 14px;
  color: #666;
}

/* 본문 */
.board-view-content {
  line-height: 1.7;
  letter-spacing: 0.2px;
  padding-inline: 1.5rem;
  color: #222;
  margin-bottom: 2rem;
}

/* 게시물 목록 댓글 카운트*/
.content-reply {
  padding-block: 0.18rem;
  padding-inline: 0.3rem;
  margin-left: 0.3rem;
  font-size: 12px;
  background-color: #e8f0fd;
  color: #4880ee;
  border-radius: 5px;
}

.board-list.title {
  text-align: left;
}

/*intro 모바일 사이즈 변경*/

@media screen and (max-width: 992px) {
  .intro {
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
  }
  .intro-img {
    height: 100%;
    background: transparent;
    position: relative;
    overflow: hidden;
    background-color: #edf0f5;
    border-radius: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    flex: 1 0 0;
  }
  .intro-msg {
    display: flex;
    flex-direction: column;
    flex: 1.5 0 0;
  }
  .mspace {
    width: 1rem;
    height: auto;
    display: inline-block;
  }
}

/* 게시글 수정 */
.board-input.files {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  padding-block: 10px;
  border-radius: 5px;
}
.board-input.file {
  display: flex;
  align-items: center;
  flex: 1;
}
.board-input.file label {
  width: 13%;
  margin-left: 1.5rem;
  font-weight: 800;
}

.board-input .file input[type='checkbox'] {
  margin-right: 8px;
}
.board-input .file input[type='file'] {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding-inline: 0px;
  padding-block: 12px;
  width: 100%;
}

.space_border {
  height: 100%;
  border-right: 1px solid #eee;
}

.descbox {
  display: flex;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  width: auto;
  height: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem !important;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  border-radius: 5px;
  /* box-shadow: 2px 4px 12px rgb(0 0 0 / 8%); */
  cursor: pointer;
}

.descbox:hover {
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}

#descimg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.6s;
}
/* Post 이미지 hover 기능 */

/* .descbox:hover > #descimg {
  opacity: 0.5;
  transition: opacity 0.6s;
}

.descbox:hover .btn {
  position: absolute;
  opacity: 1;
  transition: opacity 0.6s;
}

.descbox:hover .txt {
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
  position: absolute;
  opacity: 1;
  transition: opacity 0.6s;
}

.descbox .btn {
  opacity: 0;
} */

.txt {
  opacity: 0;
  font-weight: 600;
}

.txt > img {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 70%;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
}

.btn-new {
  color: #fff;
  background-color: coral;
  border-color: coral;

  --bs-btn-color: #fff;
  --bs-btn-bg: coral;
  --bs-btn-border-color: coral;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(228, 115, 74);
  --bs-btn-hover-border-color: rgb(228, 115, 74);
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: coral;
  --bs-btn-active-border-color: coral;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: coral;
  --bs-btn-disabled-border-color: coral;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
}

.content-list-col {
  width: 33.3333333333333333%;
  padding: 0.6rem;
}

.content-list-bookmark {
  display: flex;
  justify-content: space-between;
}

.main-search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: #f6f9ff; */
  background-color: #f6f9ffcf;
  padding-block: 3.5rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  /* border: solid 2px #e2edff; */
}
.main-search h3 {
  color: #4880ee;
  padding-bottom: 1rem;
}

input[type='text'].main-search-input {
  /* background-color: #e2edff; */
  background-color: transparent !important;
  border: 1px solid #ddd;
  font-size: 16px;
  padding-inline: 20px;
  padding-block: 8px;
  border-radius: 5px;
  width: 100%;
}

input:focus {
  outline: 1px solid #487fee96;
}

.main-search-box {
  display: flex;
  align-items: center;
}

.main-search-tb tbody,
.main-search-tb td,
.main-search-tb tfoot,
.main-search-tb th,
.main-search-tb thead,
.main-search-tb tr {
  padding: 10px;
}

/* 태그 */
.tagify {
  width: 500px;
  --tag-bg: #e8f0fd !important;
  --tag-hover: #cedbf0 !important;
  --tag-text-color: #4880ee !important;
  --tag-text-color--edit: #4880ee !important;
  --tags-focus-border-color: #487fee96 !important;
  /* --tags-border-color: none !important; */
  /* background-color: #e2edff; */
  border-radius: 5px;
}

.tagify__tag > div > * {
  color: #4880ee;
  font-weight: 600;
}

.tagify__tag {
  margin: 8px 0 8px 10px !important;
}

.tags-look .tagify__dropdown__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  padding: 0.3em 0.5em;
  /* border: 1px solid #ccc; */
  background: #f3f3f3;
  margin: 0.2em;
  margin-block: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.9em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active {
  color: black;
}

.tags-look .tagify__dropdown__item:hover {
  background: #dbe9ff;
  border-color: gold;
}

.tags-look .tagify__dropdown__item--hidden {
  max-width: 0;
  max-height: initial;
  padding: 0.3em 0;
  margin: 0.2em 0;
  white-space: nowrap;
  text-indent: -20px;
  border: 0;
}
/* 게시물 디테일 */

.board-view {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-inline: 1rem;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.board-view-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  width: 100%;
  /* border-bottom: 1px solid #eee; */
  font-size: 15px;
}

.board-view-bid span {
  padding-inline: 0.65rem;
  padding-block: 0.175rem;
  font-size: 14px;
  background-color: #e8f0fd;
  color: #4880ee;
  border-radius: 5px;
  font-weight: 600;
}

.board-view-title {
  padding-top: 0.75rem;
  padding-bottom: 0.65rem;
}

.board-view-info {
  padding-left: 0.1rem;
}

.board-view-info span {
  color: #999;
  font-weight: 300;
}
.board-view-info :first-child {
  font-weight: 600;
  color: #333;
  padding-right: 0.5rem;
}

/* 첨부파일 / 조회수 */

.board-view-file span {
  color: #666;
}

.board-view-file span:first-child::after {
  margin: 10px;
  content: '';
  border-right: 1px solid #dcdcdc;
}

.board-view-file a {
  margin-right: 5px;
  color: #666;
}
.board-view-file a:hover {
  margin-right: 5px;
  color: #333;
}

.board-view-cnt span {
  margin-right: 10px;
  color: #666;
}

/* 디테일 */
.detailbox {
  display: flex;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0);
}

.board-view-tag span {
  padding-inline: 0.65rem;
  padding-block: 0.25rem;
  font-size: 14px;
  /* background-color: #e8f0fd;
  color: #4880ee; */
  border-radius: 5px;
  font-weight: 600;
}

.detail-title {
  display: flex;
  align-items: center;
}

.space {
  width: 7rem;
  height: auto;
  display: inline-block;
}

.board-view-infomation tbody,
.board-view-infomation td,
.board-view-infomation tfoot,
.board-view-infomation th,
.board-view-infomation thead,
.board-view-infomation tr {
  padding-block: 0.95rem;
  border-block: 1px solid #eee;
}

.board-view-infomation th {
  width: 25%;
}

.title_bookmark {
  display: flex;
  justify-content: space-between;
}

.detail-content {
  width: 100%;
}

@media (min-width: 1400px) {
  .container.d,
  .container-lg.d,
  .container-md.d,
  .container-sm.d,
  .container-xl.d,
  .container-xxl.d {
    max-width: 1520px;
  }
}

.board-review-place {
  padding-inline: 1.5rem;
}

.txtmain {
  color: #4880ee;
}

textarea.board-input {
  /* border: 1px solid #eee; */
  /* background-color: transparent; */
  font-size: 16px;
  padding-inline: 26px;
  padding-block: 20px;
  border-radius: 5px;
  width: 100%;
}

textarea:focus {
  outline: 2px solid #487fee52;
}

/*댓글*/
.card {
  border: none;
}

.reply-info {
  padding-bottom: 0.2rem;
}
.reply-info-me {
  padding-bottom: 0.2rem;
}

.reply-info :first-child {
  font-weight: 800;
}
.reply-info :last-child {
  padding-left: 5px;
  font-weight: 300;
  color: #666;
  font-size: 14px;
}
.reply-info-me :first-child {
  padding-right: 5px;
  font-weight: 300;
  color: #666;
  font-size: 14px;
}
.reply-info-me :last-child {
  font-weight: 800;
}

.reply-desc {
  font-size: 16px;
}
.reply-write {
  display: flex;
}
.reply-write .btn {
  width: 60px;
}
.reply-content {
  /* border-top: 1px solid #eee; */
  padding-inline: 1.5rem;
}

.card.subcolor {
  background-color: #e8f0fd8c;
}

.ri-padding {
  padding-right: 1rem;
  padding-block: 0.2rem;
}
.le-padding {
  padding-left: 1rem;
  padding-block: 0.2rem;
}

table.board-view-infomation {
  width: 100%;
}

.descbox-star {
  position: absolute;
  z-index: 9;
  bottom: 0;
  right: 0;
  padding-inline: 0.8rem;
  padding-block: 0.5rem;
  background-color: rgb(255 255 255 / 80%);
  border-radius: 5px 0px 0px 0px;
}

textarea:disabled.board-input {
  /* border: 1px solid #eee; */
  /* background-color: transparent; */
  font-size: 16px;
  padding-inline: 26px;
  padding-block: 20px;
  border-radius: 5px;
  width: 100%;
  background-color: #f7f7f7;
}

.main-list-title {
  padding-inline: 0.2rem;
  cursor: pointer;
}
